.list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  display: flex;
  gap: 10px;
}

.item {
  text-align: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: #fefefe;
  width: 80px;
  height: 120px;
}

.name {
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  color: black;
}

.online {
  color: green;
  margin-top: 8px;
}

.offline {
  color: red;
  margin-top: 8px;
}