.table {
  width: 700px;
  margin: 20px;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, sans-serif;
}

th,
td {
  border: 1px solid #000000;
  padding: 10px;
  color: black;
  font-weight: 600;
}

th {
  background-color: #242424;
  color: white;
}

tr:nth-child(even) {
  background-color: #a3a3a3;
}
